@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Patua+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-Montserrat;
    }
    body {
        background: #fff;
    }
    h1 {
        @apply text-xl font-medium capitalize;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    @apply w-[4px] h-[5px];
  }
  
  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300;
  }
  
  *::-webkit-scrollbar-track {
    @apply !bg-transparent;
  }




.link { 
    @apply relative flex items-center gap-2 text-sm tracking-wide rounded-lg  md:cursor-pointer cursor-default ;

}

.link.active {
    @apply text-blue-500  font-medium  bg-blue-50
}

.StudentBtn{
    @apply text-gray-600 flex items-center gap-1 text-base tracking-wider font-semibold
}
.StudentBtn.active{
    @apply text-blue-500 border-b-2 border-blue-500 pb-2
}




.filterLink {
    @apply bg-gray-100 rounded-t py-1 px-4
}
.filterLink.active {
    @apply text-blue-500 border-b-[2px] border-blue-500
}
.filterLinkStudent {
    @apply   px-4
}
.filterLinkStudent.active {
    @apply text-blue-500 border-b-[2px] border-blue-500 pb-3
}

.StudentListFilterLink {
    @apply rounded-t py-1 px-4
}
.StudentListFilterLink.active {
    @apply text-blue-500 border-b-[2px] border-blue-500
}

.taskLink.active{
    @apply text-blue-500 border-b-[2.2px] border-blue-500
}
.link.button {
    @apply text-white text-sm tracking-wide font-medium backdrop:text-white   bg-gradient-to-r from-[#1391F8] to-[#2BA0FF] shadow-md shadow-blue-500/50 rounded-full py-[12px];
}
.form {
    @apply max-w-[350px] w-full shadow-md bg-white shadow-gray-200 rounded-lg py-10 px-7 border-t-2 flex flex-col gap-7
}
.spanIcon {
@apply absolute left-1 top-1/2 transform -translate-y-1/2 text-blue-400
}


.sidebar{
    overflow-y: scroll;
    scrollbar-width: none; 
  }
  
.sidebar::-webkit-scrollbar,
.studentTask::-webkit-scrollbar, 
.notification::-webkit-scrollbar, 
.scrollBar::-webkit-scrollbar {
    display: none;
  }

  


  .cover {
    background-image: url(./assets//images/cover.png);
    background-position: left 30%; 
    height: 180px;
    width: 100%;
    
  }
  .company-cover {
    background-image: url(./assets//images/companycover.png);
    background-position: left 40%; 
    height: 180px;
    width: 100%;
    
  }
  
 



.student-link.active{
    @apply text-blue-500 font-medium 
}







  /* tabs */
  .profile-tabs.active {
    @apply relative text-blue-500 font-medium;
  }

  .profile-tabs.active::after{
    content: '';
    height: 2px ;
    width: 100%;
    background: rgb(59 130 246 / var(--tw-text-opacity));
    position: absolute;
    left: 0;
    bottom: -14px;
}

.importToggleContainer {
    background: rgba(0,0, 0, 0.1);
}







/* check animation in import excel */
.circleImport {
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0%{
    box-shadow: #ecf0f1 0 0 0 0;
  }
  100%{
    box-shadow: #f3f5f5 0 0 0 20px;
  }
}

.check {
  
  transform: scale(0);
  animation: scale-up 0.6s forwards;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
}

.imageImport {
  filter: grayscale(100%);

  
}
.imageImport.rotate {
  transform: rotate(25deg);
}

.clicktoUploadTextBlink {
  animation: blink ease-in-out  1s infinite;
}
@keyframes blink{
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
   opacity: 0.9;
  }
}


.addCompanyCheck {
  transform: scale(0);
  animation: scale-up2 0.6s forwards;
}
@keyframes scale-up2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
}

/* loading text animation */
.textLoading{
  animation: textLoadingAnimation 1.5s infinite;
}
@keyframes textLoadingAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}

.uploadMoa{
  border: 1px dashed #bdbfc0;
  height: 90px;
  border-radius: 10px;
  cursor: pointer;
}




/* shadow */
.shadow-effect::after
{
    content: '';
    position: absolute;
    top: -300px;
    left: -200px;
    width: 700px;
    height:600px ;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, hsla(0, 77%, 82%, 0.2), 
    transparent 64%);
    z-index: .9;
}
.shadow-effect::before
{
    content: '';
    position: absolute;
    top: 50px;
    left: 00px;
    width: 600px;
    height:600px ;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, hsla(109, 100%, 83%, 0.2), 
    transparent 60%);
}
.form-shadow-effect{
  position: relative;
  z-index: 2;
}


/* login */

.swing-animation {
  animation: vibrate 0.8s infinite;
  transform-origin: center;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}



/* home */
.homeTitle {
  font-family: 'Montserrat', sans-serif;
font-family: 'Patua One', serif;
}

.home-Shadow::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height:800px ;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(ellipse at center, hsla(202, 91%, 71%, 0.5), 
    transparent 64%);
}












/* login responsive */
/* Mobile Devices */
@media only screen and (max-width: 767px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    gap: 90px;
    padding-bottom: 80px;
  }
  .rightSideImageModel{
    top: 32%;
   right: -38%;
    height: 60px;
    width: 180px;
    font-size: .68rem;
    padding: 7px;
  }
  .rightSideImageModel > img {
    width: 30px;
  }

  .extraTool1{
    top: 10%;
    transform: rotate(45deg);
  }
  .extraTool2{
    right: -38%;
    height: 60px;
    width: 180px;
  }
  .totalStundetBox {
    left: -35%;
    font-size: .8rem;
    padding: 10px;
  }
}









.sidebar{
  animation: scaleIn 0.7s;
}

@keyframes scaleIn {
  0% {
   opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop Devices */
@media only screen and (min-width: 1024px) {
}
